<%- model_class = Estudio -%>
<%= form_tag(estudios_path, :method => :get) do %>
  <%= text_field_tag 'search', nil, placeholder: 'Entre com sua busca' %>
  <%= submit_tag "Search" %>
<% end %>
<p id="notice" <%= notice %></p>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= render partial: "normal_user_index" %>
</div>
